@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Sriracha&display=swap');

:root {
    --font1: "Sriracha";
    --font2: "Baloo 2";
    --main-color: #F6D3B3;
    --cat-color1: #A1DFED;
    --cat-color2: #FCD4F8;
    --white1: #F8F8F8;
    --black1: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white1);
    font-family: var(--font2);
    color: var(--black1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #282828;
}

#navbar {
    z-index: 20;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    height: 60px;
    background: var(--main-color);
    transition: 0.3s;
    font-size: 1.1rem;
}

.left-nav {
    font-family: var(--font1);
    text-align: left;
    padding-left: 20px;
}

.center-nav {
    font-family: var(--font2);
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.right-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.nav-items {
    cursor: pointer;
    transition: 0.3s;
}
.nav-items:hover {
    transform: scale(1.2);
}

.background-header {
    height: 450px;
    background: url(./chatons-header.jpg) 50% 40% / cover no-repeat;
    min-width: 100%;
}

.main-title,
.second-title {
    text-align: center;
    font-family: var(--font1);
}

.main-title {
    font-size: 2.3rem;
}
.second-title {
    margin-top: -15px;
}

.homepage-main-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

.homepage-main-text-container {
    width: 50%;
    min-height: 400px;
    font-size: 1.1rem;
    line-height: 30px;
}

.main-text-title {
    font-size: 1.5rem;
    padding: 30px 0;
    font-family: var(--font1);
}

.blog-title {
    padding-top: 20px;
    font-size: 1.5rem;
    font-family: var(--font1);
}

.blog-title {
    text-align: center;
}
.blog-text-container {
    width: 40%;
    background-color: var(--main-color);
    border-radius: 30px;
    margin: auto 0;
}

.blog-list {
    display: flex;
    line-height: 30px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-weight: bold;
}

.article-name {

    margin: 20px auto;
}

.link-adoption,
.link-formulaire {
    font-weight: bold;
}

.footer-container {
    display: grid;
    width: 100%;
    grid-template-columns: 45% 45% 10%;
    background-color: var(--main-color);
    margin-top: 100px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
}

.left-footer,
.middle-footer,
.right-footer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.items-footer {
    cursor: pointer;
    transition: 0.3s;
}

.items-footer:hover {
    transform: scale(1.2);
}

.right-footer-social {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infos {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 50%;
    margin: 80px auto 95px auto;
    height: 5px;
    border : 0;
    border-radius: 3000px;
    background-color: var(--main-color);
}
.find-us {
    font-size: 1.1rem;
    background: var(--main-color);
    width: 70%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.find-us-title {
    font-size: 1.5rem;
    padding: 30px 0;
    font-family: var(--font1);
}
#map {
    height: 300px;
    width: 80%;
    border: 3px;
    margin: 0 auto;
}

#fripons-adress {
    font-family: var(--font1);
}

.find-us p {
    line-height: 30px;
    padding: 10px;
}

.contact-us {
    background: var(--main-color);
    border-radius: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    min-height: 540px;
    flex-direction: column;
    margin-bottom: 125px;
}
.contact-us form{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    font-size: 1.1rem;
    grid-row-gap: 35px;
}

.contact-us form input {
    height: 40px;
    font-size: 1rem;
    font-family: var(--font2);
    color: #2828289a;
}

#textarea {
    resize: none;
    height: 100%;
    font-family: var(--font2);
    font-size: 1.1rem;
    color: #2828289a;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#submit {
    width: 40%;
    align-items: left;
}
/*Slider team------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  .carousel-container {
    overflow: hidden;
    padding: 15px;
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 300px;
    --card-height: 400px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .volunteer-card {
    background: var(--white1);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    transition: inherit;
    border: solid 8px var(--main-color);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .volunteer-card.highlight {
    filter: brightness(1)
  }
  
  
  .volunteer-card:nth-of-type(1) .image-container {
      background-image: url("./img/benevoles/volunteer1.jpg");
  }
   
  .volunteer-card:nth-of-type(2) .image-container {
    background-image: url("./img/benevoles/volunteer2.jpg")
  }
  
  .volunteer-card:nth-of-type(3) .image-container {
    background-image: url("./img/benevoles/volunteer3.jpg")
  }
  .volunteer-card:nth-of-type(4) .image-container {
    background-image: url("./img/benevoles/volunteer4.jpg")
  }
  .volunteer-card:nth-of-type(5) .image-container {
    background-image: url("./img/benevoles/volunteer5.jpg")
  }
  .volunteer-card:nth-of-type(6) .image-container {
    background-image: url("./img/benevoles/volunteer6.jpg")
  }
  .volunteer-card:nth-of-type(7) .image-container {
    background-image: url("./img/benevoles/volunteer7.jpg")
  }
  
  .image-container {
    width: 12rem;
    height: 12rem;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    background-color: var(--main-color);
    z-index: -1;
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.3);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }


/* Eléments de la page 2 ------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/


.cat-container {
    display: flex;
    justify-content: center;
    margin: 25px;
}
.cat-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.hidden-cards-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.hidden-cards {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin-bottom: 25px;
}

.load-button {
    height: 40px;
}

.load-button::after {
    content: "Voir plus de Fripons";
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-family: var(--font1);
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
}

input[type=checkbox].hidden{
    display: none;
 }

.hidden:checked ~ .load-button::after {
    content: "Voir moins de Fripons";
 }

.hidden:checked ~ .hidden-cards {
    display: grid;

}

.cat-card {
    transition: 0.3s ease-in-out;
}

.cat-card:hover {
transform: scale(1.1);
}

.cat-card-male {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 30% 70%;
    background: var(--cat-color1);
    border-radius: 40px;
    text-align: center;
}

.cat-card-female {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 30% 70%;
    background: var(--cat-color2);
    border-radius: 40px;
    text-align: center;
}

.img-cat {
    height: 180px;
    width: 180px;
    border-radius: 65px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 10px;
}

.cat-name {
    margin-top: 20px;
    line-height: 20px;
    font-size: 1.3rem;
}

.cat-info {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
    font-family: var(--font1);
}

.cat-description {
    display: flex;
    margin: 0px 15px 20px 15px;
    font-size: 0.7rem;
    align-items: center;

}

/*-----------------------------------MEDIA QUERIES--------------------------------------*/

@media screen and (max-width: 1300px) {
    
    /*---------PAGE 2 ----------*/
    .cat-card-container, .hidden-cards { 
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 600px) {
    /*--------- COMMON ----------*/
    #navbar {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        font-size: 1rem;
        grid-template-areas: "a c"
                             "b b";
    }
    .left-nav {
    grid-area: a;
    padding: 0;
    text-align: center;
    }
    .center-nav {
        grid-area: b;
    }

    .right-nav {
        grid-area: c;
    }

    .main-title {
        font-size: 2rem;
        margin-top: 20px;
    }

    /*---------PAGE 1 ----------*/

.title-container {
    margin: 30px auto;
}

.second-title {
    font-size: 1.7rem;
}

.homepage-main-container {
    flex-direction: column;
    margin: 30px 15px 50px 15px;
}

.homepage-main-text-container {
    width: 100%;
    font-size: 0.9rem;
}

.main-text-title {
    font-size: 1.5rem;
    padding: 0 0 20px 0;
}

.blog-text-container {
    width: 100%;
    margin-bottom: 0px;
}

.blog-list {
    line-height: 40px;
    font-size: 0.9rem;
    margin: auto 15px;
    min-height: fit-content;
}

.article-name {
    line-height: 20px;
    margin: 20px 0;
} 

hr {
    margin: 50px auto;
}

.infos {
    flex-direction: column-reverse;
    margin-left: 25px;
    margin-right: 25px;
}

.find-us {
    width: 100%;
    border-radius: 30px;
}

.find-us-title {
    font-size: 1.3rem;
}

#map {
    width: 80%;
    height: 200px
}

.contact-us {
    width: 100%;
    border-radius: 30px;
    margin: 50px auto 0 auto;
    height: 350px;
    font-size: 0.8rem;
}

.contact-us form {
    row-gap: 15px;
    width: 90%;
    font-size: 0.9rem;
    grid-template-columns: 35% 65%;
    grid-template-rows: 30px 30px 30px 90px 30px;
}
.contact-us form input {
    height: 30px;
}
#label-textarea {
    vertical-align: middle;
}
    /*---------PAGE 2 ----------*/

    .background-header {
        height: 180px;
        background-position: top;
    }

    .cat-card-container, .hidden-cards { 
        grid-template-columns: 1fr;

    }
    .cat-card-male, .cat-card-female {
        grid-template-columns: 160px 170px;
    }

    .img-cat {
        height: 150px;
        width: 150px;
    }

    .cat-name {
        font-size: 1rem;
    }

    .cat-info {
        font-size: 0.75rem;
    }
    .cat-description {
        font-size: 0.65rem;
    }

    .footer-container {
        grid-template-columns: 50% 50%;
    }
    .right-footer {
        display: none;
    }

    .cat-card:hover {
        transform: scale(1);
        }
}