/* ------------------------------GENERAL------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

:root {
    --main-font: "Bungee";
    --second-font: "Bungee Hairline";
    --textshadow-color: #004aad;
    --background-color: #222222;
    --title-effect1: #e7effa;
    --title-effect2: #719ad2;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
body {
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: 0 0 10px var(--textshadow-color),
    0px 0px 10px var(--textshadow-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.title-container {
    height: 250px;
}

.section-title {
    position: absolute;
    text-shadow: 0 0 20px var(--textshadow-color),
    0px 0px 60px var(--textshadow-color);
}

.space {
    height: 30vh;
}

.text {
    text-align: center;
    font-family: var(--second-font);
    font-weight: bolder;
    line-height: 20px;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 1.1rem;
    width: 200px;
    height: 100vh;
    align-items: flex-start;
    z-index: 100;

}
#navbar {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191a23;
    border-right: solid 2px #fff;
    transform: translateX(-180px);
    transition: all 0.3s ease-in-out;
    width: 120px;
    box-shadow: 0 0px 25px 5px var(--textshadow-color);
    padding-bottom: 100%;
} 


#nav-button {
    height: 80px;
    cursor: pointer;
    transform: translateX(-120px);
    transition: all 0.3s ease-in-out;
}

.navlink {
    transition: all 0.3s ease-in-out;
}


.navlink:hover {
    transform: scale(120%);
}

#contact-nav-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px){
    .navlink:hover {
        transform: none;
    }
    #nav-container {
        width: 170px;
    }
    #nav-button{
        width: 40px;
        height: 40px;
    }
    .space {
        height: 20vh;
    }
}

@media screen and (max-width: 600px) {
    
    .text {
        font-size: 0.8rem;
    }
}

/* ----------------------------------HOMEPAGE ----------------------------------------------------------- */
#homepage {
    height: 100vh;
}

.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -10;
}

#auto-text-container {
    position: absolute;
    top: 20%;
    left: 33%;
}

#auto-text {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: var(--main-font);
}

@media screen and (max-width: 900px){
    #auto-text-container {
        top: 35%;
        left: 30%;
    }
}

@media screen and (max-width: 600px) {
    #auto-text-container {
        top: 35%;
        left: 25%;
    }

    #auto-text {
        font-size: 1rem;
    }
}

/* -----------------------------------------PROJET PAGE -------------------------------------------------- */
#projet-section {
    height: 120vh;
    position: relative;
    background: linear-gradient(transparent, rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.4), transparent);
}

#play-title1 {
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 7rem;
}
#play-title2 {
    top: -0.7%;
    left: 49.3vw;
    transform: translateX(-50%);
    z-index: -1;
    color: var(--title-effect1);
    font-size: 7rem;
}
#play-title3 {
    top: -1.4%;
    left: 48.8vw;
    transform: translateX(-50%);
    z-index: -2;
    color: var(--title-effect2);
    font-size: 7rem;
}

.projet {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.projet-container {
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.play-button {
    width: 140px;
    height: 140px;
}

.projet-title {
    font-size: 1.7rem;
}


@media screen and (max-width: 900px) {
    #play-title1, #play-title2, #play-title3 {
        font-size: 4rem;
    }
    #projet-section {
        height: 100vh;
    }
    .projet {
        margin: -60px 30px 0 30px;
    }
    .projet-container {
        width: 45%;
    }
    
}

@media screen and (max-width: 600px) {
    #play-title1, #play-title2, #play-title3 {
        font-size: 2.3rem;
    }
    #play-title2 {
        top: -0.5%;
        left: 49.5vw;
    }
    #play-title3 {
        top: -1%;
        left: 49vw;
    }

    #projet-section {
        height: 140vh;
    }
    .projet {
        margin: -80px auto 0 auto;
        flex-direction: column;
    }
    .projet-container {
        margin-bottom: 30px;
        width: 100%;
    }
}

/* -----------------------------SKILLS SECTION --------------------------------------*/
#skills-section {
    height: 100vh;
    background: linear-gradient(transparent, rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.4), transparent);
    position: relative;
}

#skills-title1 {
    font-size: 6rem;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
}
#skills-title2 {
    font-size: 6rem;
    top: -0.7%;
    left: 49.3vw;
    transform: translateX(-50%);
    z-index: -1;
    color: var(--title-effect1);
}
#skills-title3 {
    font-size: 6rem;
    top: -1.4%;
    left: 48.8vw;
    transform: translateX(-50%);
    z-index: -2;
    color: var(--title-effect2);
}

#skills-container {
    display: grid;
    height: 45vh;
    width: 70vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -30px auto 0 auto;
}

#s-container-column1 {
    opacity: 0;
    transform: translateX(-400px);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#s-container-column2 {
    opacity: 0;
    transform: translateX(-400px);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#s-container-column3 {
    opacity: 0;
    transform: translateX(-400px);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.skills-icons {
    width: 80px;
    margin: auto;
    transition: all 0.5s ease-out;
}

.skills-icons:hover {
    transform: scale(130%);

}

@media screen and (max-width: 900px) {
    #skills-title1, #skills-title2, #skills-title3 {
        font-size: 4rem;
    }
    #skills-container {
        width: 90vw;
    }
    .skills-icons:hover {
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    #skills-title1, #skills-title2, #skills-title3 {
        font-size: 2.3rem;
    }
    .skills-icons {
        width: 60px;
    }
}

/* ------------------------ABOUT ME SECTION -------------------- */

#aboutme-section {
    height: 100vh;
    background: linear-gradient(transparent, rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.4), transparent);
    position: relative;
}

#aboutme-title1 {
    font-size: 5rem;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
}
#aboutme-title2 {
    font-size: 5rem;
    top: -0.7%;
    left: 49.5vw;
    transform: translateX(-50%);
    z-index: -1;
    color: var(--title-effect1);
}
#aboutme-title3 {
    font-size: 5rem;
    top: -1.4%;
    left: 49vw;
    transform: translateX(-50%);
    z-index: -2;
    color: var(--title-effect2);
}

#presentation-container {
    width: 60%;
    margin: -50px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation-container p:nth-child(-n+2) {
    margin-bottom: 30px;
}
 .cv {
font-family: var(--main-font);
font-size: 1.2rem;
text-align: center;
transition: all 0.3s ease-in-out;
 }

 .cv:hover {
    transform: scale(130%);
 }

 @media screen and (max-width: 900px){

    #aboutme-title1, #aboutme-title2, #aboutme-title3 {
        font-size: 3rem;
    }
    #presentation-container {
        width: 80vw;
    }
    .cv {
        margin-top: 40px;
    }
    .cv:hover {
        transform: none;
    }
 }

 @media screen and (max-width: 600px) {
    #aboutme-title1, #aboutme-title2, #aboutme-title3 {
        font-size:2rem;
    }


 }
 /*---------------------------CONTACT------------------------------*/

 #contact-section {
    height: 15vh;
    background: linear-gradient(transparent 5%,15%, rgba(128, 128, 128, 0.9) 80%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
}

#contact-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

#mentions {
    text-align: center;
    width: 100%;
}

.contact {
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
}

.contact:hover {
    transform: scale(120%);
}