/* ------------------------------GENERAL------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

:root {
    --main-font: "Bungee";
    --second-font: "Bungee Hairline";
    --textshadow-color: #004aad;
    --background-color: #222222;
    --title-effect1: #e7effa;
    --title-effect2: #719ad2;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: 0 0 9px var(--textshadow-color),
    0px 0px 9px var(--textshadow-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    font-size: 2rem;
    display: flex;
    margin-left: 10px;
    width: 20%;
    border: solid 4px rgba(0, 0, 0, 0);
    border-top: none;
    transition: 0.5s;
    z-index: 100;
}

.navbar-visible {
    border: solid 4px #bed9ff;
    border-top: none;
    border-radius: 5px;
    box-shadow: 7px 0px 20px 8px var(--textshadow-color);
    background: var(--background-color);
}

.logo-navbar {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.navmenu-container {
    margin-top: 10px;
}

.navlist {
    font-size: 1.5rem;
    visibility: hidden;
}

.navlist-visible {
    visibility: visible;
}

.menu {
    cursor: pointer;
}


/* ----------------------------------HOMEPAGE ----------------------------------------------------------- */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -10;
}

#auto-text-container {
    position: absolute;
    top: 20%;
    left: 33%;
    font-family: var(--second-font);
    font-weight: bolder;
}

#auto-text {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: normal;
    font-family: var(--main-font);
}

.link-container {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.pres-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    line-height: 40px; 
    margin-right: 20px;
    margin-bottom: 20px;
}

#pres-title {
    font-weight: normal;
    text-align: center;
    font-size: 1.6rem;

}

.text-pres {
    text-align: center;
    line-height: 35px;
    font-family: var(--second-font);
    font-weight: bolder;
}

/* -----------------------------------------PROJET PAGE -------------------------------------------------- */
#body-project {
    background: var(--background-color);
}
.play-title {
    font-size: 7rem;
    position: absolute;
    text-shadow: 0 0 20px var(--textshadow-color),
    0px 0px 60px var(--textshadow-color);
}

#play-title1 {
    top: 0;
    left: 39.5%;
}
#play-title2 {
    top: -0.7%;
    left: 38.8%;
    z-index: -1;
    color: var(--title-effect1);
}
#play-title3 {
    top: -1.4%;
    left: 38.1%;
    z-index: -2;
    color: var(--title-effect2);
}

.projet {
    display: flex;
    position: absolute;
    top: 35%;
    justify-content: space-around;
    width: 100%;

}

.play-button {
    width: 190px;
}

.projet-container {
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projet-title {
    font-weight: normal;
    font-size: 1.7rem;
}
.projet-text {
    text-align: center;
}

/* -----------------------------CV --------------------------------------*/

#body-cv {
    background: var(--background-color);
    overflow: scroll;
}

.cv-title {
    font-size: 3rem;
    position: absolute;
    text-shadow: 0 0 20px var(--textshadow-color),
    0px 0px 60px var(--textshadow-color);
}

#cv-title1 {
    z-index: 1;
    top: -1.5%;
    transform: translateX(-50%);
    left: 50%;
}
#cv-title2 {
    z-index: -1;
    transform: translateX(-50%);
    top: -2%;
    left: 49.7%;
    color: var(--title-effect1);
}
#cv-title3 {
    z-index: -2;
    transform: translateX(-50%);
    top: -2.5%;
    left: 49.4%;
    color: var(--title-effect2);
}

.cv-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: -150px;
    z-index: -1;
    margin-left: 20px;
    margin-right: 20px;
}

.cv-subtitle {
    font-size: 1.3rem;
    height: 80px;
    position: relative;
    width: 100%;
}

.cv-section {
    text-align: center;
    width: 25%;
}

.subtitles-logo {
    width: 50px;
}

.loisirs-logo {
    width: 80px;
}

.date-cv {
    line-height: 30px;
}

.text-cv {
    font-family: var(--second-font);
    font-weight: bolder;
    line-height: 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.leftskills {
    text-align: left;
}

.rightskills {
    text-align: right;
}

#experience-title1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#experience-title2 {
    position: absolute;
    top: -2%;
    left: 49%;
    transform: translateX(-50%);
    z-index: -2;
}

#experience-title3 {
    position: absolute;
    top: -4%;
    left: 48%;
    transform: translateX(-50%);
    z-index: -3;
}

#experience-logo {
    position: absolute;
    top: 15%;
    left: 84%;
    transform: translateX(-50%);
}

#hardskills-title1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#hardskills-title2 {
    position: absolute;
    top: -2%;
    left: 49%;
    transform: translateX(-50%);
    z-index: -2;
}

#hardskills-title3 {
    position: absolute;
    top: -4%;
    left: 48%;
    transform: translateX(-50%);
    z-index: -3;
}

#hardskills-logo {
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translateX(-50%);
}

#formation-title1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#formation-title2 {
    position: absolute;
    top: -2%;
    left: 49%;
    transform: translateX(-50%);
    z-index: -2;
}

#formation-title3 {
    position: absolute;
    top: -4%;
    left: 48%;
    transform: translateX(-50%);
    z-index: -3;
}

#formation-logo {
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translateX(-50%);
}